.venv
.idea
jax-fem/applications
jax-fem/docs
jax-fem/tests
**/__pycache__
**/test.*
Tutorials
src/fem/data/
data/img/**.jpg

**.vtu
**.msh
**.csv
**.tiff
**.npy
cache
**.txt
/*.stp
**.rar
**.stl
**.lnk